h1 {
	color: #F92672;
	font-family: helvetica;
	font-weight: 900;
	font-size: 1.9em;
	letter-spacing: 0.8px;
	line-height: 1.4;
	}

body {
	background-color: white;
	font-family: helvetica;
	color: black;
	padding: 30px;
	}

a:link, visited {
	text-decoration: underline; 
	background-color: white;
	margin: 5px;
	color: #F92672;
}

a:hover, active {
	text-decoration: none; 
	background-color: #F92672;
	color: white;
}

a {
	text-transform:lowercase;
}

li {
	list-style: none;
	text-align: left;
    float: left;
}

#elevator {
	font-style: italic;
	font-size: 40px;
	max-width: 25em;
}